<h1>Resto</h1>
<%= debug @restaurant %>
<br />
<br />
<h1>Available foods</h1>
<ul>
<% @restaurant.foods.each do |f| %>
<li><%= f.name %></li>
<% end %>
</ul>
<%= link_to 'Show all restaurants', restaurants_path %>
