<!DOCTYPE html>
<html>
<head>
  <title>Foodtrip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--CUSTOM FONT-->
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
